/* Custom CSS File */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.song_block {
  height: 18rem;
  margin: 10px;
  background-color: white;
  color: black;
}

.song_block:hover {
  background-color: #eee;
}

.collection_block {
  margin: 10px;
  background-color: white;
  color: black;
}

.collection_block:hover {
  background-color: #eee;
}

#mainWin {
  background-color: #002b36;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#collectionWin {
  background-color: #073642;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#topBar {
  background-color: #000;
  color: #fdf6e3;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Icons */
i#requestButton:hover {
  color: orange;
  cursor: pointer;
}

/* Genre Colours */
.colourRock {
  border: solid 3px red;
}

.colourPop {
  border: solid 3px green;
}

.colourRap {
  border: solid 3px yellow;
}

.colourDance {
  border: solid 3px pink;
}
