/* Custom CSS File */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.song_block {
  height: 18rem;
  margin: 10px;
  background-color: white;
  color: black;
}

.song_block:hover {
  background-color: #eee;
}

.collection_block {
  margin: 10px;
  background-color: white;
  color: black;
}

.collection_block:hover {
  background-color: #eee;
}

#mainWin {
  background-color: #002b36;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#collectionWin {
  background-color: #073642;
  height: 100vh;
  padding-top: 10px;
  overflow-y: auto;
  color: #fdf6e3;
}

#topBar {
  background-color: #000;
  color: #fdf6e3;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Icons */
i#requestButton:hover {
  color: orange;
  transition: 1s all;
}

i#requestLink {
  color: black;
}

/* Form Elements */
input#searchForm {
  color: black;
}

/* Card Image */
.cardImage {
  background-color: #586e75;
  height: 350px;
}

/* Genre Colours */
.colour {
  border-bottom: solid 5px #eee8d5;
}

.colourRock {
  border-bottom: solid 5px #dc322f;
}

.colourPop {
  border-bottom: solid 5px #859900;
}

.colourRap {
  border-bottom: solid 5px #b58900;
}

.colourDance {
  border-bottom: solid 5px #d33682;
}

.colourRnB {
  border-bottom: solid 5px #6c71c4;
}

.colourHip-Hop {
  border: solid 3px #268bd2;
}

/* Genre Colours */
.colourCell {
  background-color: #eee8d5;
}

.colourCellRock {
  background-color: #dc322f;
}

.colourCellPop {
  background-color: #859900;
}

.colourCellRap {
  background-color: #b58900;
}

.colourCellDance {
  background-color: #d33682;
}

.colourCellRnB {
  background-color: #6c71c4;
}

.colourCellHip-Hop {
  background-color: #268bd2;
}
