/* Custom CSS File */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #d33682;
}

a:hover {
  color: #dc332f;
}

.song_block {
  height: 18rem;
  margin: 10px;
  background-color: white;
  color: black;
}

.song_block:hover {
  background-color: #eee;
}

.collection_block {
  margin: 10px;
  background-color: #002b36;
  color: white;
  transition: 0.5s all;
}

.collection_block a:link, .collection_block a, .collection_block a:visited {
    color: white;
}

.action_block {
  margin: 10px;
  background-color: #002b36;
  color: black;
  transition: 0.5s all;
}

.action_block a:link, .action_block a, .action_block a:visited {
    color: black;
}

.collection_block:hover {
  background-color: #657b83;
  transition: 0.5s all;
}

.headerimage {
  width: 100%;
}

#mainWin {
  background-color: #002b36;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#collectionWin {
  background-color: #073642;
  height: 100vh;
  padding-top: 10px;
  overflow-y: auto;
  color: #fdf6e3;
}

#CRUDWindow {
  height: 100vh;
  overflow-y: auto;
}

#topBar {
  background-color: #000;
  color: #fdf6e3;
}

#footerBar {
  background-color: #000;
  color: #fdf6e3;
  display: block;
}

.ResultTable {
  height: 20vw;
  overflow-y: scroll;
}

.footerLink {
  float: left;
  margin: 10px;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Nav Links */

.nav-link-small {}

/* Icons */

i#requestButton:hover {
  color: orange;
  transition: 1s all;
}

i#requestLink {
  color: black;
}

/* Form Elements */

input#searchForm {
  color: black;
}

/* Card Image */

.cardImage {
  background-color: #586e75;
  height: 350px;
}

/* Genre Colours */

.colour {
  border-bottom: solid 5px #eee8d5;
}

.colourRock {
  border-bottom: solid 5px #dc322f;
}

.colourPop {
  border-bottom: solid 5px #859900;
}

.colourRap {
  border-bottom: solid 5px #b58900;
}

.colourDance {
  border-bottom: solid 5px #d33682;
}

.colourRnB {
  border-bottom: solid 5px #6c71c4;
}

.colourHip-Hop {
  border: solid 3px #268bd2;
}

/* Genre Colours */

.colourCell {
  color: #eee8d5;
}

.colourCellRock {
  color: #dc322f;
}

.colourCellPop {
  color: #859900;
}

.colourCellRap {
  color: #b58900;
}

.colourCellDance {
  color: #d33682;
}

.colourCellRnB {
  color: #6c71c4;
}

.colourCellHip-Hop {
  color: #268bd2;
}

/* Tools */
.center-block {
  margin: 0 auto;
}

/* PAGINATION */
.contents{
	margin: 20px;
	padding: 20px;
	list-style: none;
	background: #F9F9F9;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.contents li{
    margin-bottom: 10px;
}
.loading-div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.56);
	z-index: 999;
	display:none;
}
.loading-div img {
	margin-top: 20%;
	margin-left: 50%;
}

/* Pagination style */
.pagination{margin:0;padding:0;}
.pagination li{
	display: inline;
	padding: 6px 10px 6px 10px;
	border: 1px solid #ddd;
	margin-right: -1px;
	font: 15px/20px Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	box-shadow: inset 1px 1px 5px #F4F4F4;
}
.pagination li a{
    text-decoration:none;
    color: rgb(89, 141, 235);
}
.pagination li.first {
    border-radius: 5px 0px 0px 5px;
}
.pagination li.last {
    border-radius: 0px 5px 5px 0px;
}
.pagination li:hover{
	background: #CFF;
}
.pagination li.active{
	background: #F0F0F0;
	color: #333;
}
