/* Custom CSS File */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.song_block {
  height: 18rem;
  margin: 10px;
  background-color: white;
  color: black;
}

.collection_block {
  margin: 10px;
  background-color: white;
  color: black;
}

.collection_block:hover {
  background-color: #eee;
}

#mainWin {
  background-color: #002b36;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#collectionWin {
  background-color: #073642;
  height: 100vh;
  overflow-y: auto;
  color: #fdf6e3;
}

#topBar {
  background-color: #000;
  color: #fdf6e3;
}
